{# templates/commande.html.twig #}
{% extends "base.html.twig" %}

{% block main %}
    {% block navbar %}
        {% include"navbar.html.twig" %}
    {% endblock %}
        {% if app.user %}
            <p>Nom de l’usager : {{ app.user.nom }}</p>
        {% endif %}
            <div class="main-div">
                <!-- debut du block content !-->
                <div class="row">
                    <div class="alert alert-dark col-md-12">
                        <h1><i class="fas fa-store"></i>  {% trans %}Commande {% endtrans %} {% trans %}numéro {% endtrans %} : {{ commande.id }}</h1>
                    </div>
                </div>
                <div>
                    Date de la commande : {{ commande.datecommande | date('d/m/Y H:i:s') }}
                </div>
                <!-- fin du block content !-->
            </div>
{% endblock %}
