{# templates/rayons.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    {% block navbar %}
        {% include"navbar.html.twig" %}
    {% endblock %}
    {% block div %}
        <main role="main" class="container">
            <div class="main-div">
                <!-- debut du block content !-->
                <div class="row">

                </div>
                <!-- fin du block content !-->
            </div>
        </main>
    {% endblock %}

{% endblock %}
