{# templates/contact.html.twig #}
{% extends "base.html.twig" %}

{% block main %}
    {% block navbar %}
        {% include"navbar.html.twig" %}
    {% endblock %}
    {% block div %}
        <main role="main" class="container">
            <div class="main-div">
                <!-- debut du block content !-->
                <div class="card clickable" onclick="window.open('https://www-info.iut2.univ-grenoble-alpes.fr/licence-pro-mi/')">
                    <img src="{{ asset('images/iut2_info.png')}}" class="card-img" alt="logo IUT2">
                    <div class="card-body">
                        <h1 class="card-title"><i class="fas fa-code"></i> Licence Pro MI AW</h1>
                        <h2 class="card-title"><i class="fab fa-symfony"></i> Module MI5</h2>
                        <p><i class="far fa-copyright"></i> Boissin Rowin, 2019</p>
                    </div>
                </div>
                <!-- fin du block content !-->
            </div>
        </main>
    {% endblock %}
{% endblock %}
