{# templates/index.html.twig #}
{% extends "base.html.twig" %}

{% block main %}
    {% block navbar %}
        {% include"navbar.html.twig" %}
    {% endblock %}
    {% block div %}
        <main role="main" class="container">
            <div class="main-div">
                <!-- debut du block content !-->
                <div class="card clickable" onclick="location = {{ path('panier_vider') }}">
                    <img src="{{ asset('images/epicerie.jpg')}}" class="card-img-top" alt="Logo Boutique Symfony">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-home"></i>{% trans %}Démo Symfony 4.3{% endtrans %}</h2>
                        <p class="card-text"><i>{% trans %}Ici, rien à vendre, c'est juste pour apprendre...{% endtrans %}</i></p>
                    </div>
                </div>
                <!-- fin du block content !-->
            </div>
        </main>
    {% endblock %}
{% endblock %}
